* {
    all: unset;
    font-family: "Minecraft", "Minecraft Rus", feather;
    font-size: 16px;
}

.bar {
    background: #250838;
    color: #5e5f75;
    border-radius: 8px;
}

.widgets {
    &__workspaces {
        &_button {
            margin-left: 15px;

            &.focused,
            &.occupied {
                color: #c5c8c6;
            }
            &.focused {
                text-shadow: 0 0 3px #ff79ff;
            }
        }
    }
    &__player {
    }
    &__tray {
    }
}
